<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.sp.fee.dao.impl.ContractDao" >
  <resultMap id="BaseResultMap" type="com.qy.sp.fee.dto.TContract" >
    <id column="CONTRACT_ID" property="contractId" jdbcType="VARCHAR" />
    <result column="PARTY_A" property="partyA" jdbcType="VARCHAR" />
    <result column="PARTY_B" property="partyB" jdbcType="VARCHAR" />
    <result column="PARTY_C" property="partyC" jdbcType="VARCHAR" />
    <result column="VALIDATE_START" property="validateStart" jdbcType="DATE" />
    <result column="VALIDATE_END" property="validateEnd" jdbcType="DATE" />
    <result column="SIGN_DATE" property="signDate" jdbcType="DATE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CONTRACT_TYPE" property="contractType" jdbcType="INTEGER" />
    <result column="OP_STATUS" property="opStatus" jdbcType="INTEGER" />
    <result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONTRACT_ID, PARTY_A, PARTY_B, PARTY_C, VALIDATE_START, VALIDATE_END, SIGN_DATE, 
    CREATE_TIME, CONTRACT_TYPE, OP_STATUS, FILE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_contract
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_contract
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qy.sp.fee.dto.TContract" >
    insert into t_contract (CONTRACT_ID, PARTY_A, PARTY_B, 
      PARTY_C, VALIDATE_START, VALIDATE_END, 
      SIGN_DATE, CREATE_TIME, CONTRACT_TYPE, 
      OP_STATUS, FILE_ID)
    values (#{contractId,jdbcType=VARCHAR}, #{partyA,jdbcType=VARCHAR}, #{partyB,jdbcType=VARCHAR}, 
      #{partyC,jdbcType=VARCHAR}, #{validateStart,jdbcType=DATE}, #{validateEnd,jdbcType=DATE}, 
      #{signDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{contractType,jdbcType=INTEGER}, 
      #{opStatus,jdbcType=INTEGER}, #{fileId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qy.sp.fee.dto.TContract" >
    insert into t_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        CONTRACT_ID,
      </if>
      <if test="partyA != null" >
        PARTY_A,
      </if>
      <if test="partyB != null" >
        PARTY_B,
      </if>
      <if test="partyC != null" >
        PARTY_C,
      </if>
      <if test="validateStart != null" >
        VALIDATE_START,
      </if>
      <if test="validateEnd != null" >
        VALIDATE_END,
      </if>
      <if test="signDate != null" >
        SIGN_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="contractType != null" >
        CONTRACT_TYPE,
      </if>
      <if test="opStatus != null" >
        OP_STATUS,
      </if>
      <if test="fileId != null" >
        FILE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null" >
        #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null" >
        #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="partyC != null" >
        #{partyC,jdbcType=VARCHAR},
      </if>
      <if test="validateStart != null" >
        #{validateStart,jdbcType=DATE},
      </if>
      <if test="validateEnd != null" >
        #{validateEnd,jdbcType=DATE},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=INTEGER},
      </if>
      <if test="opStatus != null" >
        #{opStatus,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qy.sp.fee.dto.TContract" >
    update t_contract
    <set >
      <if test="partyA != null" >
        PARTY_A = #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null" >
        PARTY_B = #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="partyC != null" >
        PARTY_C = #{partyC,jdbcType=VARCHAR},
      </if>
      <if test="validateStart != null" >
        VALIDATE_START = #{validateStart,jdbcType=DATE},
      </if>
      <if test="validateEnd != null" >
        VALIDATE_END = #{validateEnd,jdbcType=DATE},
      </if>
      <if test="signDate != null" >
        SIGN_DATE = #{signDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractType != null" >
        CONTRACT_TYPE = #{contractType,jdbcType=INTEGER},
      </if>
      <if test="opStatus != null" >
        OP_STATUS = #{opStatus,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        FILE_ID = #{fileId,jdbcType=VARCHAR},
      </if>
    </set>
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qy.sp.fee.dto.TContract" >
    update t_contract
    set PARTY_A = #{partyA,jdbcType=VARCHAR},
      PARTY_B = #{partyB,jdbcType=VARCHAR},
      PARTY_C = #{partyC,jdbcType=VARCHAR},
      VALIDATE_START = #{validateStart,jdbcType=DATE},
      VALIDATE_END = #{validateEnd,jdbcType=DATE},
      SIGN_DATE = #{signDate,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CONTRACT_TYPE = #{contractType,jdbcType=INTEGER},
      OP_STATUS = #{opStatus,jdbcType=INTEGER},
      FILE_ID = #{fileId,jdbcType=VARCHAR}
    where CONTRACT_ID = #{contractId,jdbcType=VARCHAR}
  </update>
</mapper>