<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.sp.fee.dao.impl.SupplierDao" >
  <resultMap id="BaseResultMap" type="com.qy.sp.fee.dto.TSupplier" >
    <id column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
    <result column="ABBR_NAME" property="abbrName" jdbcType="VARCHAR" />
    <result column="CONTACTOR" property="contactor" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SUPPLIER_ID, FULL_NAME, ABBR_NAME, CONTACTOR, TEL, EMAIL, QQ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_supplier
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_supplier
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qy.sp.fee.dto.TSupplier" >
    insert into t_supplier (SUPPLIER_ID, FULL_NAME, ABBR_NAME, 
      CONTACTOR, TEL, EMAIL, 
      QQ)
    values (#{supplierId,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{abbrName,jdbcType=VARCHAR}, 
      #{contactor,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qy.sp.fee.dto.TSupplier" >
    insert into t_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="fullName != null" >
        FULL_NAME,
      </if>
      <if test="abbrName != null" >
        ABBR_NAME,
      </if>
      <if test="contactor != null" >
        CONTACTOR,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="abbrName != null" >
        #{abbrName,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qy.sp.fee.dto.TSupplier" >
    update t_supplier
    <set >
      <if test="fullName != null" >
        FULL_NAME = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="abbrName != null" >
        ABBR_NAME = #{abbrName,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        CONTACTOR = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
    </set>
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qy.sp.fee.dto.TSupplier" >
    update t_supplier
    set FULL_NAME = #{fullName,jdbcType=VARCHAR},
      ABBR_NAME = #{abbrName,jdbcType=VARCHAR},
      CONTACTOR = #{contactor,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR}
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
  </update>
</mapper>